<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="f-info-item">
      <h4> &copy; UrbanHavens</h4>
      <p>Your one stop shop for all your real estate needs</p>
    </div>
    <div class="f-info-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
  </div>
</footer>
